/* html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #FFF0;
}

body {
    margin: 0;
    color: #636363;
    font-family: 'Open Sans', sans-serif;
}

.body {
    padding: 1rem;
}

header {
    text-align: center;
}
.downloadPrompt {
    display: none;
    padding: 10px;
    box-shadow: 0px 0 7px 4px #00000030;
    justify-content: center;
    max-width: 300px;
    margin: auto;
    margin-top: 60px;
}

.downloadButton {
    background: #109d58;
    color: aliceblue;
    padding: 5px 10px;
    min-width: 100px;
    border-radius: 2px;
    border: 1px solid #00723b;
    text-transform: uppercase;
}

#appContainer {
    overflow: hidden;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}




wrapper {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    }
    .wrapper > * {
    grid-column: 2;
    }
    .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
    } */


/* |||||||||| CSS RESET |||||||||| */
/* Source: https://hankchizljaw.com/wrote/a-modern-css-reset/ */

/* Box sizing rules */
*, *::before, *::after 
{
  box-sizing: border-box;
}

/* Remove default padding */
ul[class], ol[class] 
{
  padding: 0;
}

/* Remove default margin */
body,
h1, h2, h3, h4,
p,
ul[class], ol[class], li, dl, dd, 
figure, figcaption,
blockquote
{
  margin: 0;
}

/* Set core body defaults */
html
{
    font-size: 8px;
}
body
{
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class]
{
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class])
{
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img
{
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + *
{
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select
{
  font: inherit;
}

/* Set focus to use element's color */
*:focus
{
    --focus-ring-size: 2px;
    outline: solid var(--focus-ring-size) currentColor;
    outline-offset: calc(calc(var(--focus-ring-size) * -1) / 2);
}
*:focus:focus-visible
{
    outline-style: auto;
}
*:focus:not(:focus-visible)
{
    outline-style: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce)
{
  *
  {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* |||||||||| IMPORTS |||||||||| */
@font-face
{
    font-family: 'Vegur';
    src: local('Vegur-Regular'),
        url('./assets/fonts/Vegur-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vegur Bold';
    src: local('Vegur-Bold'), url('./assets/fonts/Vegur-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Vegur Light';
    src: local('Vegur-Light'), url('./assets/fonts/Vegur-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/* |||||||||| MAIN STYLES |||||||||| */
body
{
    background-color: #202024;
    color: rgba(255, 255, 255, .75);
    font-family: 'Vegur Light', 'Open Sans', sans-serif;
    font-size: calc(1rem + 1vw);
}

input
,select
,textarea
{
    background-color: #191919;
    color: #a4a8aa;
    border: solid 1px #a4a8aa;
    padding: 0 .25em;
}

button,input[type="button"]
{
    font-family: Vegur, 'Open Sans', sans-serif;
}

main
{
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

main > * 
{
    grid-column: 2;
}
main > .full-width 
{
    width: 100%;
    grid-column: 1 / 4;
    display: inherit;
    grid-template-columns: inherit;
}

.full-width .inset 
{
    grid-column: 2;
}

main > .content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, min(65ch, 100%));
    grid-gap: 1em;
    grid-auto-rows: minmax(300px, auto);
    padding: 2em;
}

main > .content .card 
{
    background-color: #2c2c2c;
    border: solid 1px #1F1F1F;
}

main > .content .card.chat
{
    --theme-gradient: linear-gradient(to bottom, #01aaff, #4372ff);
    --theme-gradient-active: linear-gradient(to bottom, #01aaff, #4372ff 70%);
}

main > .content .card > header
{
    border-bottom: solid 1px #222222;
    padding: .25em .5em;
    margin-bottom: .5em;
}

main > .content .card > .content
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

main > .content .card .chatroom
{
    z-index: 1;
    opacity: 0;
    margin: .5em;
    padding: 5px;
    background-color: #28282c;
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,.3);
    border-width: 1px;
    border-style: solid;
    border-image: var(--theme-gradient);
    border-image-slice: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 200ms linear, visibility 200ms linear;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
}
main > .content .card .chatroom.in-session
{
    opacity: 1;
    user-select: revert;
    pointer-events: revert;
    visibility: visible; /* transition visibility to remove the tabbable elements from the tab flow */
}

main > .content .card .chatroom > header
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: var(--theme-gradient);
    border-image-slice: 1;
    padding-bottom: .25em;
    display: grid;
    grid-template-columns: 1fr max-content;
}

main > .content .card .chatroom > header > .title
{
    font-family: Vegur, 'Open Sans', sans-serif;
    font-size: 1.4em;
    align-self: center;
    white-space:nowrap;
    overflow-x: hidden;
    text-overflow:ellipsis;
}

main > .content .card .chatroom button
{
    background: var(--theme-gradient);
    color: #fff;
    border-radius: 0px;
    min-width: 32px;
    border:none;
    cursor: pointer;
    display: flex;
    align-items:center;
    padding: .1em .4em;
}
main > .content .card .chatroom button:focus
,main > .content .card .chatroom button:active
{
    background: var(--theme-gradient-active);
    outline: solid var(--focus-ring-size) #666;
}
main > .content .card .chatroom button[disabled]
{
    background: linear-gradient(to bottom, #eee, #ddd);
    color: #aaa;
    cursor: not-allowed;
}


main > .content .card .chatroom button .icon
{
    width: 36px;
    height: 36px;
    padding-right: .4em;
    margin-right: .5em;
    border-right: solid 1px currentColor;
}

main > .content .card .chatroom button .icon path
{
    fill: currentColor;
}

main > .content .card .chatroom > .peers
{
    font-size:.7em;
    cursor:pointer;
    display: none;
}
main > .content .card .chatroom.in-session > .peers
{
    display: initial;
}

main > .content .card .chatroom > .peers > summary::-webkit-details-marker
{
    display: none;
}

main > .content .card .chatroom.in-session > .peers .description
{
    display: none;
}
main > .content .card .chatroom.in-session > .peers.others .description
{
    display: initial;
}

main > .content .card .chatroom > .peers .first-peer
{
    font-family: Vegur, 'Open Sans', sans-serif;
    margin-right: 1ch;
}

main > .content .card .chatroom > .peers dt
{
    font-family: Vegur, 'Open Sans', sans-serif;
}

main > .content .card .chatroom > .display
{    
    height: 400px;
    display: flex;
}

#chat-messages
{
    flex: 1;
    list-style:none;
    padding: 1em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat-messages li
{
    margin: 0 .5em .5em;
    scroll-margin: .5em;
}
#chat-messages li:last-of-type
{
    margin-bottom: 0;
}

#chat-messages .no-session
{
    background: linear-gradient(to bottom, #282424, #282121);
    border: solid 1px #111;
    font-size: .6em;
    padding: .2em .5em;
    align-self: stretch;
    text-align:center;
}

#chat-messages .status
{
    background: linear-gradient(to bottom, #2d2d2d, #212121);
    border: solid 1px #111;
    font-size: .6em;
    padding: .2em .5em;
}

#chat-messages .session-key
{
    display: flex;
    align-items: center;
    font-size: .6em;
    padding: .3em .9em;
    background: linear-gradient(to bottom, #282424, #282121);
    border: solid 1px #111;
}

#chat-messages .session-key .description
{
    margin-right: .2em;
}

#chat-messages .session-key .value
{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin-right: 1em;
    width: 8ch;
}

#chat-messages .session-key .copy
{
    font-family: inherit;
    padding: .1em 1em;
    border-radius: 5px;
}

#chat-messages .message
{
    align-self:flex-start;
    color:#fff;
    display: flex;
    align-items: flex-start;
}
#chat-messages .message.self
{
    align-self: flex-end;
}

#chat-messages .message > .user
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: .5em;
}

#chat-messages .message .image-container
{
    background-color: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .25em;
}

#chat-messages .message > .user .name
{
    font-size: .5em;
    text-align: center;
}

#chat-messages .message .body
{
    background: var(--theme-gradient);
    border: solid 1px #111;
    padding: .25em;
}
#chat-messages .message.self .body
{
    background: linear-gradient(to bottom, #313131, #262626);
}

#chat-messages .message .body > header
{
    font-family: Vegur, 'Open Sans', sans-serif;
}

#chat-messages .message .body > .content
{
    font-size: .8em;
    min-width: 200px;
}

#chat-messages .message .body > footer
{
    font-size: .5em;
    display:flex;
    justify-content: flex-end;
}

#chat-messages .message .body > footer .date
{
    margin-right: .5em;
}

main > .content .card .chatroom > form
{
    display: grid;
    grid-template-columns: 1fr max-content;
}

main > .content .card .chatroom > form input
{
    border-radius: 0px;
    border:none;
    font-family:Vegur, 'Open Sans', sans-serif;
}

main > .content .card .setup
{
    z-index: 2;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5em;
    margin: .5em;
    font-family: Vegur, 'Open Sans', sans-serif;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 200ms linear, visibility 200ms linear;
    max-width: 900px;
    justify-self:center;
}
main > .content .card .chatroom.in-session ~ .setup
{
    opacity:0;
    user-select: none;
    pointer-events: none;
    visibility: hidden; /* transition visibility to remove the tabbable elements from the tab flow */
}

main > .content .card .setup .option
{
    background-color:#ffffff;
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
}

main > .content .card .setup .display
{
    background:var(--theme-gradient);
    color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
}

main > .content .card .setup .display .description
{
    margin-bottom: .25em;
}

main > .content .card .setup .display svg
{
    width: 64px;
    height: 64px;
    margin-bottom: .25em;
}

main > .content .card .setup .display svg path
{
    fill: #fff;
}

main > .content .card .setup .display .label
{
    font-size: .6em;
    align-self:stretch;
}

main > .content .card .setup .display form
{
    display: flex;
    align-self:stretch;
}

main > .content .card .setup .display input
{
    background-color: #fff;
    color: #232323;
    border-radius: 0;
    margin-bottom: .25em;
    border: none;
    flex: 1;
}

main > .content .card .setup .choice
{
    background-color: #fff;
    color: #232323;
    padding: .5em;
}

main > .content .card .setup .choice .control
{
    margin-bottom: .5em;
}

main > .content .card .setup .choice .control form
{
    display: flex;
}

main > .content .card .setup .choice .label
{
    font-size: .6em;
    display: block;
}

main > .content .card .setup .choice input
{
    font-family: Vegur, 'Open Sans', sans-serif;
    background-color: #fff;
    border: solid 1px #666666;
    border-radius: 0;
    grid-row-start:2;
    color: #232323;
    min-width: 100px;
}

main > .content .card .setup .choice button
{
    background: var(--theme-gradient);
    color: #fff;
    border: none;
    border-radius: 0;
    grid-row-start:2;
    font-size: .8em;
    padding: 0 .5em;
    margin-right: .25em;
    cursor: pointer;
}
main > .content .card .setup .choice button:active
,main > .content .card .setup .choice button:focus
{
    background: var(--theme-gradient-active);
    outline: solid var(--focus-ring-size) #666;
}
main > .content .card .setup .choice button:last-of-type
{
    margin-right: 0;
}
main > .content .card .setup .choice button[disabled]
{
    background: linear-gradient(to bottom, #eee, #ddd);
    color: #aaa;
    cursor: not-allowed;
}

main > .content .card .setup .choice .message
{
    color: #ff6464;
    margin-bottom: .5em;
    font-size:.8em;
}

main > .content .card > footer
{
    border-top: solid 1px #222222;
    padding: .25em .5em;
    margin-top: .5em;
}

main > .content .card.file-upload 
{
    --theme-gradient: linear-gradient(to top, #50b984 0%, #89af2c 100%);
    --theme-gradient-active: linear-gradient(to top, #50b984 30%, #89af2c 100%);
}

.card.file-upload > .content > .display
{
    background: var(--theme-gradient);
    color: #fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: .5em;
    margin: .5em;
    margin-bottom:0;
}

.card.file-upload > .content > .display svg
{
    width: 64px;
    height: 64px;
    margin-bottom: .25em;
}

.card.file-upload > .content > .display svg path
{
    fill: #fff;
}

.card.file-upload > .content > .display .title
{
    font-family: Vegur, 'Open Sans', sans-serif;
}

.card.file-upload > .content > .display .description
{
    font-size: .8em;
    text-align:center;
}

#file-upload-form
{
    background-color:#fff;
    color:#232323;
    display: flex;
    display:grid;
    grid-template-columns: 1fr;
    margin: .5em;
    margin-top:0;
    padding: 1em;
}

.field-group.file
{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-bottom: 1em;
    cursor: pointer;
}

.field-group.file .label
{
    grid-column-start:1;
    grid-column-end:4;
    font-family: Vegur, 'Open Sans', sans-serif;
    font-size: .7em;
}

.field-group.file .icon-container
{
    background: var(--theme-gradient);
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-group.file .icon-container .icon
{
    height: 48px;
    width: 48px;
}

.field-group.file .icon-container .icon path
{
    fill: #fff;
}

.field-group.file .value-container
{
    border-width: 2px;
    border-style: solid;
    border-image: var(--theme-gradient);
    border-image-slice: 1;
    display: grid;
    background-color: #fff;
    border-radius: 0;
    grid-template-rows:1fr min-content 1fr;
}

.field-group.file input
{
    grid-row-start: 2;
    background: none;
    border: none;
    padding: .2em .5em;
    color: #232323;
    font-family: Vegur, 'Open Sans', sans-serif;
    cursor: pointer;
}
.field-group.file input::-webkit-file-upload-button
{
    display: none;
}
.field-group.file input::file-selector-button
{
    display: none;
}

.field-group.file .clear
{
    --size: 30px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;    height: auto;
    border-radius: 0;
}

.field-group.file button
{
    background: var(--theme-gradient);
    border: none;
    color: #fff;
    cursor:pointer;
}
.field-group.file button:focus
,.field-group.file button:active
{
    background: var(--theme-gradient-active);
}

.field-group.file button path
{
    fill: #fff;
}

#upload-file
{
    background: var(--theme-gradient);
    color: #fff;
    border: none;
    border-radius: 0;
    padding: .3em 1em;
    cursor: pointer;
}
#upload-file:focus,
#upload-file:active
{
    background: var(--theme-gradient-active);
}

{
    background: var(--theme-gradient-active);
}
#upload-file[disabled]
{
    background: linear-gradient(to bottom, #eee, #ddd);
    color: #aaa;
    cursor: not-allowed;
}
#upload-file[disabled] .icon
{
    border-right-color: #aaa;
}
#upload-file[disabled] .icon path
{
    fill: #aaa;
}

#upload-file + .divider
{
    margin: 1em 0;
    background: #aaa;
    height: 1px;
}

#file-upload-form > .progress-controls
{
    display: flex;
    margin-bottom: .5em;
}

#file-upload-form > .progress-controls button
{
    background: linear-gradient(to top, #e53935, #e35d5b);
    color: #8a0000;
    border-radius: 0px;
    min-width: 32px;
    border:none;
    cursor: pointer;
    display: flex;
    align-items:center;
    padding: .1em .4em;
    font-size: .5em;
}
#file-upload-form > .progress-controls button:focus
,#file-upload-form > .progress-controls button:active
{
    background: linear-gradient(to top, #e53935 60%, #e35d5b);
    outline: solid var(--focus-ring-size) #666;
}
#file-upload-form > .progress-controls button[disabled]
{
    background: linear-gradient(to bottom, #eee, #ddd);
    color: #aaa;
    cursor: not-allowed;
}

#file-upload-form > .progress-controls button .icon
{
    width: 24px;
    height: 24px;
    padding-right: .4em;
    margin-right: .5em;
    border-right: solid 1px currentColor;
}

#file-upload-form > .progress-controls button .icon path
{
    fill: currentColor;
}



#upload-progress
{
    flex: 1;
    -webkit-appearance: none;
    appearance: none;
    background: #eee;
    border-radius: 0;
    width: inherit;
    margin-right: .5em;
    height: auto;
}

#upload-progress::-webkit-progress-bar
{
    background: #eee;
}

#upload-progress::-webkit-progress-value
{
    background: var(--theme-gradient);
}
#upload-progress::-moz-progress-bar
{
    background: var(--theme-gradient);
}

#file-upload-form > .message
{
    margin: 1em;
    margin-top:0;
    text-align:right;
}


main > .content .card.video-chat
{
    grid-column: 1/3;
    --theme-gradient: linear-gradient(to bottom, #ab3f84 0%, #5e29a0 100%);
    max-height: 800px;
}

main > .content .card.video-chat .display
{
    display:grid;
    height: auto;
}

main > .content .card.video-chat .display
{
    display:flex;
}

main > .content .card.video-chat .display .stage
{
    flex: 1;
    padding-left: 1em;
    padding-top: 1em;
}

#priority-video-stream
{
    display: none;
}
.priority-selected #priority-video-stream
{
    display: block;
}

#video-streams
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#video-streams .video-stream
{
    /*width="544" height="306"*/
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 544px;
}

#priority-video-stream video
,#video-streams .video-stream video
{
    /*width="544" height="306"*/
    min-width: 100px;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
    grid-column-start: 1;
    grid-row-start: 1;
}

#video-streams .video-stream .set-priority
{
    appearance: none;
    background: none;
    border: none;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
#video-streams .video-stream .set-priority:hover
{
    background: none;
    border: none;
}
#video-streams .video-stream .set-priority:focus
,#video-streams .video-stream .set-priority:focus-visible
,#video-streams .video-stream .set-priority:active
{
    outline-color: #ab3f84;
}

#video-streams .video-stream .set-priority:before
{
    content:attr(data-peer-name);
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 30px;
    background-color: rgba(0,0,0,.3);
    padding: .1em 1em;
    font-size: .7em;
    margin-bottom: .5em;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.2s 1s linear;
    display: inline-block;
}
#video-streams .video-stream .set-priority:hover:before
{
    transition: opacity 0.2s .001s linear;
    opacity: 1;
}



#video-streams .video-stream .description
{
    display: none; /* this will trigger the opacity animation on the initial insert */
    z-index: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: flex-end;
    transition-delay: 1s;
    opacity: 0;
}


main > .content .card.video-chat .display .stage .overlay
{
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#status-pill
{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    align-items: center;
    padding: .2em 1em;
    font-size: .6em;
    font-family: 'Vegur Light', 'Open Sans', sans-serif;
    margin-bottom: .5em;
}

#status-pill .no-session
{
    flex: 1;
    display: flex;
    align-items: center;
}
#status-pill.in-session .no-session
{
    display: none;
}

#status-pill .session
{
    display: none;
}
#status-pill.in-session .session
{
    display: flex;
}

#status-pill .icon
{
    width: 16px;
    height: 16px;
    margin-right: 1em;
}

#status-pill .count
{
    margin-right: .5ch;
}

main > .content .card.video-chat .display > aside
{
    font-size: 14pt;
    background-color: #1f1f1f;
    color: #999;
}

main > .content .card.video-chat .display > aside .panels
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main > .content .card.video-chat .display > aside .panels ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

main > .content .card.video-chat .display > aside .panels .panel.peers li:hover
{
    color: #aaa;
}

main > .content .card.video-chat .display > aside .panels .panel.messages
{
    flex: 1;
}



#video-messages
{
    list-style:none;
    margin: 0;
    padding: .5em 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#video-messages li
{
    scroll-margin: .5em;
}
#video-messages li:last-of-type
{
    margin-bottom: 0;
}

#video-messages .status
{
    background: var(--theme-gradient);
    border: solid 1px #111;
    font-size: .8em;
    padding: .1em 1em;
    border-radius: 30px;
    color: #fff;
    text-align:center;
    margin-bottom: .5em;
}

/*#video-messages .session-key
{
    display: flex;
    align-items: center;
    font-size: .6em;
    padding: .3em .9em;
    background: linear-gradient(to bottom, #282424, #282121);
    border: solid 1px #111;
}

#video-messages .session-key .description
{
    margin-right: .2em;
}

#video-messages .session-key .value
{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin-right: 1em;
    width: 8ch;
}

#video-messages .session-key .copy
{
    font-family: inherit;
    padding: .1em 1em;
    border-radius: 5px;
}*/

#video-messages .message
{
    align-self:flex-start;
    color:#fff;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.25);
    padding: .25em .5em;
    border-radius: 5px;
    margin-right: 1em;
    margin-bottom: .5em;
}
#video-messages .message.self
{
    align-self: flex-end;
    background: rgba(0,0,0,.4);
    margin-right: 0;
    margin-left: 1em;
}

#video-messages .message > header
{
    font-size: .7em;
    font-family: Vegur, 'Open Sans', sans-serif;
}

#video-messages .message > .content
{
    font-size: .8em;
    min-width: 75px;
}

main > .content .card .chatroom > form
{
}

main > .content .card.video-chat .display > aside .panels .panel.messages form input
{
    border-radius: 30px;
    border:none;
    font-family: 'Vegur Light', 'Open Sans', sans-serif;
    width: 100%;
    padding: .2em 1em;
}

main > .content .card.video-chat .display > aside .panels .panel > header
{
    background-color: rgba(0,0,0,.3);
    color: #aaa;
    font-family: Vegur, 'Open Sans', sans-serif;
    padding: .1em .5em;
}

main > .content .card.video-chat .display > aside .panels .panel > .content
{
    min-height: 80px;
    overflow: auto;
    padding: .5em;
}

main > .content .card.video-chat .display > aside .panels .panel.peers > .content
{
    max-height: 200px;
}
main > .content .card.video-chat .display > aside .panels .panel.messages > .content
{
    min-height: 200px;
}

#video-options
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#video-options .option button
{
    background: none;
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items:center;
    padding: .6em;
}

#video-options .option button .icon
{
    border: none;
    padding-right: 0;
    margin-right: 0;
}

#video-options .option button .icon path
{
    fill:rgba(255,255,255,.1);
}
#video-options .option.active button .icon path
{
    fill: #fff;
}
#video-options .option button:hover .icon path
{
    fill:rgba(255,255,255,.4);
}